<p id="notice"><%= notice %></p>

<h1>Listing Dogs</h1>
Filter by breed: <% Breed.all.each do |b| %>
  <%= link_to b.name, dogs_path(breed_id: b.id) %>
<% end %>
<hr>
<% if params[:breed_id] %>
  <h2><%= @breed.name %>: <%= @breed.description %></h2>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
      <th>Photo</th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
      <td><%= dog.name %></td> 
      <td><%= dog.age %></td>
      <td><%= dog.breed.try(:name) %></td>

        <td>
          <%= image_tag(dog.picture_url(:thumb))  unless dog.picture_url(:thumb).blank? %>
        </td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>Sort:
  <%= link_to "by name", dogs_path(sort_by: :name) %>
  <%= link_to "by age", dogs_path(sort_by: :age) %>
</p>
<p>Filter:
  <%= link_to "all dogs", dogs_path %>

  <%= link_to "dogs under 5yo", dogs_path(babies: :true) %>
  <%= link_to "dogs with pictures", dogs_path(pictures: :true) %>
</p>

<%= link_to 'New Dog', new_dog_path %>
